alabaster
alembic==1.12.0
anaconda-client==1.11.0
anaconda-navigator==2.3.2
aniso8601==9.0.1
anyio
apispec==5.2.2
apispec-webframeworks==0.5.2
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
atomicwrites==1.4.0
attrs
Automat==22.10.0
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
bidict==0.22.1
binaryornot
black
bleach
brotlipy==0.7.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
comm
conda==22.11.1
conda-build==3.23.3
conda-content-trust
conda-package-handling
conda-repo-cli==1.0.24
conda-token
conda-verify==3.4.2
conda_package_streaming
constantly==15.1.0
contourpy
cookiecutter==2.1.1
cryptography
cycler
dask==2023.9.2
debugpy
decorator
deepdiff==6.2.3
defusedxml
diff-match-patch
dill
distributed==2023.9.2
dnspython==2.4.2
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask==2.2.5
Flask-Cors==3.0.10
Flask-JWT-Extended==4.5.2
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
flit_core
fonttools==4.25.0
fsspec==2023.9.2
future
gevent==22.10.2
gevent-websocket==0.10.1
gitignore-parser==0.1.6
glob2
greenlet==2.0.2
h11==0.14.0
hyperlink==21.0.0
idna
imagesize
importlib-metadata==6.8.0
incremental==22.10.0
inflection==0.5.1
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous==2.1.2
jedi
jellyfish
Jinja2==3.1.2
jinja2-time
joblib
json5
jsonschema
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring
kiwisolver
kthread==0.2.3
lazy-object-proxy
libarchive-c
locket==1.0.0
Mako==1.2.4
Markdown==3.4.4
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-sqlalchemy==0.28.1
matplotlib
matplotlib-inline
mccabe
menuinst
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
modin==0.23.1
msgpack==1.0.6
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx==2.8.8
nltk
notebook
notebook_shim
numpy
numpydoc
openpyxl==3.1.2
ordered-set==4.1.0
orjson==3.9.7
packaging
pandas==2.0.3
pandocfilters
paramiko
parso
partd==1.4.0
passlib==1.7.4
pathlib
pathspec
pexpect
pickleshare
Pillow==9.3.0
pkginfo
platformdirs
pluggy
ply==3.11
poyo
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow==10.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle
pycosat
pycparser
pydocstyle
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pymongo==4.5.0
PyNaCl
pyOpenSSL
pyparsing
PyQt5==5.15.7
PyQt5-sip
PyQtWebEngine==5.15.4
pyrsistent
PySocks
python-dateutil
python-dotenv==0.20.0
python-engineio==4.7.1
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-socketio==5.9.0
pytoolconfig
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML==6.0
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
regex
requests
rope
Rtree
ruamel.yaml
ruamel.yaml.clib
Send2Trash
service-identity==23.1.0
simple-websocket==0.10.1
sip
six
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy==2.0.21
stack-data
taipy==2.4.0
taipy-config==2.4.0
taipy-core==2.4.0
taipy-gui==2.4.0
taipy-rest==2.4.0
taipy-templates==2.4.0
tblib==2.0.0
terminado
testpath
text-unidecode
textdistance
three-merge
tinycss
tinycss2
toml 
tomli
tomlkit
tool
tornado
tqdm
traitlets
Twisted==23.8.0
twisted-iocpsupport==1.0.4
typing_extensions
tzdata==2023.3
tzlocal==4.3.1
ujson
Unidecode
urllib3
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==2.3.7
whatthepatch
widgetsnbextension
win-inet-pton
wincertstore==0.2
wrapt
wsproto==1.2.0
yapf
zict==3.0.0
zipp
zope.event==5.0
zope.interface==6.0
zstandard==0.18.0
